/* src/index.css ou global.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  height: 100vh; /* altura total da tela */
  width: 100vw; /* largura total da tela */
  background-color: #4ea894;
}
